---
---

@import "{{ site.theme }}";

@mixin shadow($horizontal: 0, $vertical: 2px, $blur: 5px, $spread: 0){
  -moz-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0,0.25);
  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, .25);
  box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, .25);
}

body {
    background-color: #EAF1F5;
}

header img {
    width: 200px;
    margin-left: -50px;
}

ul, ul li{
    margin: 0;
    padding: 0;
}

a {
    color: rgb(54, 67, 82);
    text-shadow: 0 0 black;
    font-weight: bold;
        &:hover {
            color: #FE4E4D;
        }
}

:not(li) > ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    > li {
        list-style-type: none;
        border: 1px solid black;
        margin: 0.25em;
        padding-bottom: 1em;
        background-color: rgb(54, 67, 82);
        color: white;
        flex: 1 1 33%;
        @include shadow();
        border-left: 6px solid #FE4E4D;
        a {
            padding: 1em 1em 0 1em;
            color: #f2f2f2;
            text-shadow: 0 0 black;
            font-weight: bold;
            display: block;
            &:hover {
                color: #FE4E4D;
            }
        }
        & > ul {
            > li {
            padding: 0 1em 0 2em;
            display: block;
            font-weight: normal;
            text-shadow: 0 0 black;
            font-size: small;
        }
    }
    }
}


